.page {
  display: flex;
  flex-direction: column;
  width: 595px;
  height: 842px;
  margin: 0 auto; }
  .page header {
    display: flex;
    width: inherit;
    height: 118px;
    background-color: #2C2E43;
    align-items: center; }
    .page header h1 {
      text-transform: uppercase;
      margin: 0;
      color: #fff;
      padding-left: 25px; }
  .page .main-menu {
    display: flex;
    width: inherit;
    height: 43px;
    background-color: #DFE0E8; }
    .page .main-menu ul {
      display: flex;
      margin: 0;
      align-items: center; }
      .page .main-menu ul li {
        display: flex;
        font-size: 0.8rem;
        font-weight: 400;
        height: 43px;
        align-items: center; }
        .page .main-menu ul li a {
          padding: 0 12px; }
      .page .main-menu ul .dollies {
        display: flex;
        height: 100%;
        background-color: #FFD523; }
  .page li:hover {
    background-color: #FFD523; }
  .page .articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    height: 681px;
    overflow: hidden; }
    .page .articles .article-left {
      position: relative;
      display: flex;
      width: 90%;
      height: 80%;
      margin: auto;
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      align-items: center; }
      .page .articles .article-left .font-img {
        display: flex;
        width: 35%;
        height: 100%;
        box-sizing: border-box;
        justify-content: flex-end;
        align-items: center;
        overflow: hidden; }
        .page .articles .article-left .font-img .img-article-left {
          display: flex;
          width: 170px;
          height: 170px;
          justify-content: center; }
      .page .articles .article-left .text-article-left {
        display: flex;
        width: 65%;
        height: 100%; }
        .page .articles .article-left .text-article-left .title-article {
          display: flex;
          position: absolute;
          align-items: center;
          width: 280px;
          height: 35px;
          background-color: #2C2E43;
          right: -15px;
          top: 15px;
          border-radius: 10px; }
    .page .articles .article-right {
      position: relative;
      display: flex;
      width: 90%;
      height: 80%;
      margin: auto;
      border-radius: 25px;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      align-items: center; }
      .page .articles .article-right .text-article-right {
        display: flex;
        width: 65%;
        height: 100%; }
        .page .articles .article-right .text-article-right .title-article {
          display: flex;
          position: absolute;
          align-items: center;
          width: 280px;
          height: 35px;
          background-color: #2C2E43;
          left: -15px;
          top: 15px;
          border-radius: 10px; }
      .page .articles .article-right .font-img {
        display: flex;
        width: 35%;
        height: 100%;
        box-sizing: border-box;
        justify-content: flex-start;
        align-items: center; }
        .page .articles .article-right .font-img .img-article-right {
          display: flex;
          width: 170px;
          height: 170px;
          justify-content: center; }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif; }

a {
  text-decoration: none;
  color: inherit; }

ul {
  list-style: none;
  display: flex;
  padding: 0; }

h4 {
  display: flex;
  color: #fff;
  margin: 0 0 0 10px; }

img {
  max-width: 100%;
  height: auto; }
