@media print {
  @page {
    size: 210mm 297mm;

  }
  .page {
    display: flex;
    flex-direction: column;
    width: 21cm;
    height: 29.7cm;
    // background-color: rgba(214, 214, 214, 0.123);
    margin: 0 auto;
    // border: 1px solid;
    overflow: hidden;
    header {
      display: flex;
      width: 100%;
      // height: 15%;
      height: 4.2cm;
      background-color: $blue;
      align-items: center;
      .title {
        display: flex;
        width: 60%;
        height: 100%;
        align-items: center;
        h1 {
          text-transform: uppercase;
          margin: 0;
          color: #fff;
          padding-left: 25px;
        }
      }
      .logo {
        display: flex;
        width: 100% - 60%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-image: url(/IMG/Logo/logo.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
      }
    }
    .main-menu {
      display: flex;
      width: initial;
      height: 1.2cm;
      ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 25% 1fr 1fr;
        grid-template-rows: 1fr;
        margin: 0 auto;
        width: 100%;
        justify-content: space-evenly;
        overflow: hidden;
        background-color: $grey;
        li {
          display: flex;
          padding: 0 20px;
          font-size: 0.8rem;
          font-weight: 400;
          height: 100%;
          width: max-content;
          align-items: center;
          text-transform: uppercase;
        }
        .dollies {
          border-radius: 0 10px 10px 0;
          background-color: $gold;
        }
        .grues {
          border-radius: 10px 10px 10px 10px;
          background-color: $gold;
        }
        .construction {
          border-radius: 10px 10px 10px 10px;
          background-color: $gold;
        }
        .bras {
          border-radius: 10px 10px 10px 10px;
          background-color: $gold;
        }
        .tetes-telecommandees {
          border-radius: 10px 10px 10px 10px;
          background-color: $gold;
        }
        .chariots {
          border-radius: 10px 10px 10px 10px;
          background-color: $gold;
        }
        .accessoires {
          border-radius: 10px 0 0 10px;
          background-color: $gold;
        }
      }
    }

    .articles {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 7.94cm 7.94cm 7.94cm;
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
      // background-color: lightseagreen;
      .article-left {
        position: relative;
        display: flex;
        width: 90%;
        height: 80%;
        margin: auto;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        align-items: center;
        background-color: transparent;
        .font-img {
          display: flex;
          width: 45%;
          height: 90%;
          margin: auto auto auto 20px;
          align-items: center;
          overflow: hidden;
          // background-color: khaki;
          border-radius: 25px;
          justify-content: center;
        }
        .text-article-left {
          display: flex;
          flex-direction: column;
          width: 65%;
          height: 100%;
          // background-color: rgb(66, 95, 6);
          justify-content: flex-end;
          align-items: center;
          border-radius: 0 25px 25px 0;
          .title-article {
            display: flex;
            position: absolute;
            align-items: center;
            width: 280px;
            height: 35px;
            background-color: $blue;
            right: -15px;
            top: 25px;
            border-radius: 10px;
          }
          .description {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 60%;
            justify-content: center;
            // background-color: yellowgreen;
            margin-bottom: 15px;
            border-radius: 25px 25px 25px 25px;
            overflow: hidden;
            .text-description {
              display: flex;
              width: 100%;
              height: 80%;
              padding: 10px 10px;
              border-radius: 25px 25px 25px 25px;
              overflow: scroll;
              overflow-x: hidden;
            }
            .element-description {
              display: flex;
              width: 100%;
              height: 20%;
              // background-color: rgb(66, 50, 205);
              justify-content: flex-start;
              padding: 0 20px;
            }
          }
        }
      }
      .article-right {
        position: relative;
        display: flex;
        width: 90%;
        height: 80%;
        margin: auto;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        align-items: center;
        background-color: transparent;
        .text-article-right {
          display: flex;
          flex-direction: column;
          width: 65%;
          height: 100%;
          // background-color: rgb(66, 95, 6);
          justify-content: flex-end;
          align-items: center;
          border-radius: 0 25px 25px 0;
          .title-article-right {
            display: flex;
            position: absolute;
            align-items: center;
            width: 280px;
            height: 35px;
            background-color: $blue;
            left: -15px;
            top: 25px;
            border-radius: 10px;
          }
          .description-right {
            display: flex;
            flex-direction: column;
            width: 90%;
            height: 60%;
            justify-content: center;
            // background-color: yellowgreen;
            margin-bottom: 15px;
            border-radius: 25px 25px 25px 25px;
            overflow: hidden;
            .text-description-right {
              display: flex;
              width: 100%;
              height: 80%;
              padding: 10px 10px;
              border-radius: 25px 25px 25px 25px;
              overflow: scroll;
              overflow-x: hidden;
            }
            .element-description-right {
              display: flex;
              width: 100%;
              height: 20%;
              // background-color: rgb(66, 50, 205);
              justify-content: flex-start;
              padding: 0 20px;
            }
          }
        }
        .font-img {
          display: flex;
          width: 45%;
          height: 90%;
          margin: auto 20px auto auto;
          align-items: center;
          overflow: hidden;
          // background-color: rgb(14, 61, 122);
          border-radius: 25px;
          justify-content: center;
        }
      }
    }
    .articles-accessoires {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 7.94cm 7.94cm 7.94cm;
      width: 100%;
      overflow: hidden;
      margin: 0;
      padding: 0;
      .article-accessoire {
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 90%;
        margin: auto;
        border-radius: 25px;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
          rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
          rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
        align-items: center;
        justify-content: space-between;
        // background-color: #333;
        .text-article-accessoire {
          display: flex;
          width: 100%;
          height: 25%;
          border-radius: 25px 25px 0 0;
          justify-content: center;
          align-items: center;
          .title-article {
            align-items: center;
            display: flex;
            width: 210px;
            height: 35px;
            background-color: $blue;
            border-radius: 10px;
            justify-content: center;
          }
        }
        .font-img-accessoire {
          display: flex;
          width: 95%;
          height: 90%;
          margin: 5 auto auto auto;
          align-items: center;
          overflow: hidden;
          border-radius: 25px;
          justify-content: center;
        }
        .description {
          display: flex;
          flex-direction: column;
          width: 90%;
          height: 20%;
          justify-content: center;
          margin-bottom: 5px;
          border-radius: 25px 25px 25px 25px;
          overflow: hidden;
          .element-description {
            display: flex;
            width: 100%;
            height: 90%;
            justify-content: flex-start;
            padding: 0 20px;
          }
        }
      }
    }
  }
}
