@import "variables";
@import "pageun";
@import "print";



body{
  width: auto!important;
  margin: 0!important;
  padding: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  border: none;
}


a{
  text-decoration: none;
  color: inherit;
}

ul{
  list-style: none;
  display: flex;
  padding: 0;
}

h4{
  display: flex;
  color: #fff;
  margin: 0 0 0 10px;
}

h5{
  display: flex;
  color: #fff;
  font-size: 0.6rem;
  text-align: center;
}

img {
	max-width: 80%;
	height: auto;
  background-size: cover;
  overflow: hidden;
}

p{
  font-size: 0.6rem;
  margin: 0;
  color: #2d3436;
  letter-spacing: 0.1em;
  line-height: 1.4em;
}